@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Personal Data</PageTitle>

<StatusMessage />
<MudText Typo="Typo.h3">Personal Data</MudText>

<MudGrid>
    <MudItem md="6">
        <MudText Typo="Typo.body2">Your account contains personal data that you have given us. This page allows you to download or delete that data.</MudText>
        <MudText Typo="Typo.body2">
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </MudText>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit">Download</MudButton>
        </form>
        <MudText Typo="Typo.body2">
            <MudLink Href="Account/Manage/DeletePersonalData" Color="Color.Error">Delete</MudLink>
        </MudText>
    </MudItem>
</MudGrid>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
