@page "/Account/LoginWith2fa"

@using System.ComponentModel.DataAnnotations
@using CleanArchitecture.MudBlazored.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<LoginWith2fa> Logger

<PageTitle>Two-factor authentication</PageTitle>

<MudText Typo="Typo.h1">Two-factor authentication</MudText>
<MudDivider DividerType="DividerType.Middle" />
<StatusMessage Message="@message" />
<MudText Typo="Typo.body2">Your login is protected with an authenticator app. Enter your authenticator code below.</MudText>
<MudGrid>
    <MudItem md="4">
        <EditForm Model="Input" FormName="login-with-2fa" OnValidSubmit="OnValidSubmitAsync" method="post">
            <MudInput InputType="InputType.Hidden" name="ReturnUrl" Value="@ReturnUrl" />
            <MudInput InputType="InputType.Hidden" name="RememberMe" Value="@RememberMe" />
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <MudTextField T="string"
                          autocomplete="off"
                          bind-Value="Input.TwoFactorCode"
                          Label="Authenticator code"
                          For="() => Input.TwoFactorCode!"/>
            <MudPaper 
                Elevation="0">
                <MudCheckBox T="bool" bind-Value="Input.RememberMachine">
                    Remember me
                </MudCheckBox>
            </MudPaper>
            <div>
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">Log in</MudButton>
            </div>
        </EditForm>
    </MudItem>
</MudGrid>
<MudText Typo="Typo.body2">
    Don't have access to your authenticator device? You can
    <MudLink Href="@($"Account/LoginWithRecoveryCode?ReturnUrl={@ReturnUrl}")">log in with a recovery code</MudLink>.
</MudText>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery]
    private bool RememberMe { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Ensure the user has gone through the username & password screen first
        user = await SignInManager.GetTwoFactorAuthenticationUserAsync() ??
            throw new InvalidOperationException("Unable to load two-factor authentication user.");
    }

    private async Task OnValidSubmitAsync()
    {
        var authenticatorCode = Input.TwoFactorCode!.Replace(" ", string.Empty).Replace("-", string.Empty);
        var result = await SignInManager.TwoFactorAuthenticatorSignInAsync(authenticatorCode, RememberMe, Input.RememberMachine);
        var userId = await UserManager.GetUserIdAsync(user);

        if (result.Succeeded)
        {
            Logger.LogInformation("User with ID '{UserId}' logged in with 2fa.", userId);
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User with ID '{UserId}' account locked out.", userId);
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            Logger.LogWarning("Invalid authenticator code entered for user with ID '{UserId}'.", userId);
            message = "Error: Invalid authenticator code.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [StringLength(7, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Text)]
        [Display(Name = "Authenticator code")]
        public string? TwoFactorCode { get; set; }

        [Display(Name = "Remember this machine")]
        public bool RememberMachine { get; set; }
    }
}
